#navigation-container {
  width: 16rem;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

/* Mobile styles */
@media (max-width: 1023px) {
  #navigation-container {
    width: 16rem;
    transform: translateX(-100%);
  }

  #navigation-container.mobile-open {
    transform: translateX(0);
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  #navigation-container {
    width: 4%;
  }

  #navigation-container:hover {
    width: 15%;
  }
}

/* Hide nav-item-name by default on desktop, show on hover */
.nav-item-name {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .nav-item-name {
  display: inline;
  opacity: 1;
}

/* Search styles */
.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
}
